
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    margin: 0;
    padding: 0;
}
/* shared style */
.secondary-bg{
    background-color: #e0dad4;
}

.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    
}
.dark-2{
    color: #474747;
    text-decoration: none;
    font-size: 20px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 16px;
    color: #757575;
}
.text-center{
    text-align: center;
}
/* text-primary */
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
/* nav style */
.nav-title{
    color: black;
}
.banner-title{
    color: black;
}
.banner-description{
    color: black;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px 200px;
}
nav ul li{
    text-decoration: none;
    margin-right: 50px;
}

/* header */

.header {
    position: relative;
    padding: 50px 30px 0px 30px;
}
.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top 38px left 30px, bottom right;
}


/* banner */
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;

}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}
.banner-content-pic{
    max-width: 500px;
}

/* main styles */

main{
    max-width: 1140px;
    margin: 0px auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 100px;
    text-align: center;
}
.about .section-description{
    padding-bottom: 10px;
}
.about .section-title{
    padding-bottom: 20px;
}
.about-items{
    display: flex;
    justify-content: space-around;
    
}
.item-description{
    font-weight: 600;
}
/* skills section style */
.skills-container{
    display: flex;
    gap: 24px;
}
.skills{
    padding: 20px;
}
.skill{
    padding: 20px 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
/* resume section style */
.resume{
    padding: 20px;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.experience-sub-title{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0px 20px 0px;
}
.resume-colum hr{
    margin: 30px 5px;
}
.resume .section-title{
    text-align: center;
    margin: 130px 0px 113px 0px;
}
.experience .experience-title{
    margin: 30px 0px 10px 0px;
}
.resume .btn-primary{
    text-align: center;
    margin-top: 50px;
}

/* footer styles */
footer{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 100px 100px;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 50px;
    border: none;
    margin-bottom: 24px;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    display: block;
    width: 90%;
    color: black;
}
/* footer .section-title{
    margin-bottom: 20px;
} */
footer p{
    margin-bottom: 20px;
}
.footer-column{
    width: 50%;
}
.footer-column a{
    margin-right: 10px;
}

/* Responsive style */


@media screen and (max-width: 576px) {
    .skills-container,
     .resume-container,
      footer
      
      {
        flex-direction: column;
        margin: 0 20px;
    }
    .skill{
        margin-top: 10px;
    }
    footer{
        padding: 20px;
    }
    .about{
        padding: 20px;
    }
    .about .section-description{
        padding-bottom: 10px;
    }
    .banner{
        margin: 10px;
        flex-direction: column;
    }
    .banner-content-pic{
        width: 100%;
    }
    nav{
        flex-direction: column;
        margin: 0;
    }
    nav ul {
        /* flex-direction: column; */
        padding: 0%;
    }
    nav ul li {
        margin: 5px;
    }
    .header{
        position: static;
        padding: 10px;
        background-image: none;
    }
    .btn-primary{
        margin-bottom: 10px;
    }
    .banner-description{
        padding-bottom: 15px;
    }
}

@media screen and (min-width: 576px) and (max-width: 990px) {
        .banner{
            flex-direction: column;
        }
        .skills-container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        nav{
            margin: auto
        }
}
   